<nav class="navbar-default navbar-static-side" role="navigation" style="margin-top: 50px">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li id="indexAdminMenu">
                <a href="../index/html-main.html">
                    <i class="glyphicon glyphicon-home "></i>
                    <span class="nav-lab">投资首页</span>
                    <span class="fa arrow glyphicon glyphicon-plus"></span>
                </a>
            </li>
            <li id="stategyAdminMenu">
                <a href="#">
                    <i class=" glyphicon glyphicon-th-list"></i>
                    <span class="nav-lab">策略管理</span>
                    <span class="fa arrow "></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="../tacticsPage/html-main.html">策略指标</a></li>
                </ul>
            </li>
            <li id="investAdminMenu">
                <a href="#">
                    <i class=" glyphicon glyphicon-signal"></i>
                    <span
                        class="nav-lab">投资管理</span>
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="../investPage/html-main.html">策略投资</a></li>
                    <li><a href="../investProcessingPage/html-main.html">运作中策略</a></li>
                    <li><a href="../investFinishPage/html-main.html">已完成策略</a></li>
                    <li><a href="../investMistakePage/html-main.html">异常持仓</a></li>
                </ul>
            </li>
            <li id="reportAdminMenu">
                <a href="#">
                    <i class=" glyphicon glyphicon-list-alt"></i>
                    <span
                        class="nav-lab">报表管理</span>
                    <span class="fa arrow glyphicon glyphicon-plus"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="../reportManagement/html-main.html">估值表</a></li>
                </ul>
            </li>
            <li id="settingsAdminMenu">
                <a href="#">
                    <i class="glyphicon glyphicon-cog"></i>
                    <span
                        class="nav-lab">系统设置</span>
                    <span class="fa arrow glyphicon glyphicon-plus"></span>
                </a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="../setProduct/html-main.html">产品设置</a></li>
                    <li><a href="../revisePwd/html-main.html">安全设置</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>